@{
    ViewData["Title"] = "Home Page";
}
@model KindBee.DB.DBModels.Order

<head>
    <link rel="stylesheet" href="~/css/groceryShowcase.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Мои заказы</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Поздравляем! Вы успешно оформили заказ</h2>

    <h2>Вам позвонят в течении .....</h2>

    <table class="table">
        <thead>
            <tr>
               <th>Наименование продукта</th>
                <th>Цена за 1 продукт</th>
                <th>количество</th>
                <th>Итого за позицию</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Positions)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>

                    <td><a href="@Url.Action("Delete", "Order", item.Id)">Отменить заказ</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("DeleteAllPositions", "Basket")">Все заказы</a>
    <a href="@Url.Action("Index", "Order")">Оформить заказ</a>
    <a href="@Url.Action("Index", "Home")">Перейти на главную</a>
</div>
