@{
    ViewData["Title"] = "Мои заказы";
}
@model List<KindBee.DB.DBModels.Order>;

<head>
    <link rel="stylesheet" href="~/css/groceryShowcase.css" />

    <script type="text/jscript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

</head>
<div class="text-center">
    @if (Model == null || Model.Count==0)
    {
        <h2>У Вас нет актуальных заказов</h2>
    }
    else
    {
        decimal? ordersCommonSum = 0;
        @foreach (var order in Model)
        {
            <h3>Заказ @order.Id от @order.DateOfRegistration</h3>
                @if (order.Status == KindBee.DB.DBModels.Status.NEW)
                {
                    <h4>Статус заказа: принят. Ждите ответного звонка</h4>
                }
                @if (order.Status == KindBee.DB.DBModels.Status.REJECTED)
                {
                <h4>Статус заказа: отклонен. К сожалению, мы не можем принять этот заказ в связи с нехваткой продукта</h4>
                }
                @if (order.Status == KindBee.DB.DBModels.Status.CANCELED)
                {
                   <h4>Статус заказа: отменен. Вы отменили данный заказ</h4>
                }
                @if (order.Status == KindBee.DB.DBModels.Status.PAID)
                {
                <h4>Статус заказа: оплачен</h4>
                }
                @if (order.Status == KindBee.DB.DBModels.Status.DELIVERED)
                {
                <h4>Статус заказа: доставлен</h4>
                }
        
             decimal? orderCommonSum = 0;
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование продукта</th>
                    <th>Цена за 1 шт.</th>
                    <th>Количество</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                    @foreach (var position in order.Positions)
                    {
                        <tr>
                            <td>@position.Product.Name</td>
                            <td name="price">@position.Product.Price</td>
                            <td name="quantity">@position.Quantity</td>
                            @{

                                orderCommonSum = @orderCommonSum+@position.Product.Price* @position.Quantity;
                                ordersCommonSum = @ordersCommonSum + @orderCommonSum;
                            }
                        </tr>
                    }
            </tbody>
        </table>
            <h3>Итого за заказ: @orderCommonSum р.</h3>
        }
        <br> 
    <h2>Общая сумма заказов: @ordersCommonSum р.</h2>
    }


    <a href="@Url.Action("Index", "Home")">Перейти на главную</a>
</div>
<script type="text/jscript">
    function ReCountTotalSum() {

        var total = 0;

        let strings = $("#tableBody").children();

        for (let i = 0; i < strings.length; i++) {

            try {
                let price = parseFloat(strings[i].children[1].textContent);
                let quantity = Number(strings[i].children[2].textContent);
                total += price * quantity;
            } catch (e) {

            }
        }

        document.querySelector('.totalSum').textContent = total;

        return total;
        /*
       //alert(total);
       // e = document.getElementByName('totalSum');
       //alert($("#totalSum").content);
       //let strings = document.getElementsByTagName('tr');
       //document.querySelector('#totalSum')[0].textContent = 'asdfhgfdgf';
       //document.getElementByName('totalSum').textContent = 'asdfhgfdgf';

       //$("#tableBody").children[$("#tableBody").children().length - 1].children[0].textContent = total;
       //$("#totalSum").textContent = 'asdfasdfawsd';
       //$("#tableBody").children()[0].
       // alert(t);
       //t.children().forEach(function (elem) {
       //    alert(elem.tagName); // HEAD, текст, BODY
       //});

       //$("#tableBody").children().$each(function (index, object) {
       //    var Input = $(object);
       //    total += Input.children("#m").children("#quantityInBasket").value;
       //    alert(total);
       //});

       // alert($("#tableBody").children());
       //for (var t of $("#tableBody").children()) {
       //    total += t.children("#m").children("#quantityInBasket").value;

       //}
       */
    }

    function AddOneProductInBasket(Id, el) {
        var product = el.parentNode.parentNode;
        var count = Number(product.children[2].textContent);


        if (product.children[0].max < count) {
            return;
        }
        $.post("/Basket/AddOneProductInBasket", { id: Id })
            .done(function (data) {
                if (data == 200) {
                    count++;
                    product.children[2].textContent = count;
                    ReCountTotalSum();
                }
                else {
                    alert("Не удалось добавить товар из-за проблемы на сервере. Повторите операцию позже");
                }
            });
    };

    function DeleteOneProductFromBasket(Id, el) {
        var product = el.parentNode.parentNode;
        var count = Number(product.children[2].textContent);
        $.post("/Basket/DeleteOneProductFromBasket", { id: Id })
            .done(function (data) {


                if (data == 204) {
                    var row = el.parentNode.parentNode;
                    row.remove();

                    return;
                }
                else if (data == 200) {
                    count--;
                    product.children[2].textContent = count;
                    var totalSum = ReCountTotalSum();
                    if (totalSum == 0) {

                    }
                }
                else {
                    alert("Не удалось удалить из-за проблемы на сервере. Повторите операцию позже");
                }
            });
    };


    function DeletePositionFromBasket(Id, el) {
        $.post("/Basket/DeletePosition", { id: Id })
            .done(function (data) {
                if (data == 200) {
                    var str = el.parentNode.parentNode;
                    str.remove();
                    ReCountTotalSum();
                    return;
                }
                else {
                    alert("Не удалось удалить из-за проблемы на сервере. Повторите операцию позже");
                }
            });
    };

    function DeleteAllPositions() {
        $.post("/Basket/DeleteAllPositions")
            .done(function (data) {
                if (data == 200) {
                    $("#tableBody").children().remove();

                    return;
                }
                else {
                    alert("Не удалось удалить из-за проблемы на сервере. Повторите операцию позже");
                }
            });
    };

</script>
