@{
    ViewData["Title"] = "Корзина";
}
@model KindBee.DB.DBModels.Basket;

<head>
    <link rel="stylesheet" href="~/css/BasketInit.css" />
    <link rel="stylesheet" href="~/css/deleteButton.css" />

    <link rel="stylesheet" href="~/css/removeButton.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" />


    <link rel="stylesheet" href="~/css/myTable.css" />
    <link rel="stylesheet" href="~/css/liquidButton.css" />
    <link rel="stylesheet" href="~/css/submitButton.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600" />
    <script type="text/jscript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
</head>
<div class="text-center">
    @if (Model.Positions == null || Model.Positions.Count() == 0)
    {
        <h2>Ваша корзина пуста</h2>
        <div class="liquidButtonContainer">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn-liquid">
                <span class="inner">
                    На главную
                </span>
            </a>
        </div>
    }
    else
    {


        <div id="BasketTable" class="table-wrap">
            <table>
                <thead>
                    <tr>
                        <th>Наименование продукта</th>
                        <th>Цена за 1 шт.</th>
                        <th>Количество</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var item in Model.Positions)
                    {
                        <tr>
                            <td data-label="Наименование продукта">@item.Product.Name</td>
                            <td data-label="Цена за 1 шт." name="price">@item.Product.Price</td>
                            <td data-label="Количество" name="quantity">@item.Quantity</td>
                            <td name="m" style="display: flex; flex-direction: row; justify-content: flex-start; width:300px">
                                <button onclick="AddOneProductInBasket(@item.Product.Id, this)" type="submit" class="plus-btn">+</button>
                                <button onclick="DeleteOneProductFromBasket(@item.Product.Id, this)" type="submit" class="minus-btn">-</button>
                                <a onclick="DeletePositionFromBasket(@item.Product.Id, this)" class="button" href="#" role="button">
                                    <span>Удалить позицию</span>
                                    <div class="icon">
                                        <i class="fa fa-remove"></i>
                                        <i class="fa fa-check"></i>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                    <tr><td>Итого - <p class="totalSum" name="totalSum" id="totalSum"> @Model.TotalSum</p>рублей</td></tr>
                </tbody>
            </table>
        </div>



 
        <div id="orderButton" class="orderButton">
            <div class="text">Оформить заказ</div>
        </div>

        <div class="progress-bar"></div>
        <svg x="0px" y="0px"
         viewBox="0 0 25 30" style="enable-background:new 0 0 25 30;">
            <path class="check" class="st0" d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2" />
        </svg>
        <div style="width:100%; display: flex;
  justify-content: space-between;
  align-items: center;">
            <div id="deleteButton" class="deleteButton">
                <div class="deleteButton-back">
                    <p>Вы уверены, что хотите очистить корзину?</p>
                    <button class="yes">Да</button>
                    <button class="no">Нет</button>
                </div>
                <div class="deleteButton-front">Очистить корзину</div>
            </div>
        </div>

    }

</div>
<script type="text/jscript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/jscript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"> </script>
<script type="text/jscript" src="~/js/basketInit.js" asp-append-version="true"></script>
<script type="text/jscript" src="~/js/deleteButton.js" asp-append-version="true"></script>
<script type="text/jscript" src="~/js/submitButton.js" asp-append-version="true"></script>
<script type="text/jscript" src="~/js/removeButton.js" asp-append-version="true"></script>
<script type="text/jscript" src="~/js/liquidButton.js" asp-append-version="true"></script>
@*<script type="text/jscript">

</script>*@
