@{
    ViewData["Title"] = "Наши продукты";
}
@model IEnumerable<KindBee.DB.DBModels.Product>

<head>
    <link rel="stylesheet" href="~/css/groceryShowcase.css" asp-append-version="true" />
</head>
<div class="slider">
    <div class="slide">
        <img src="~/photo/2.jpg" />
    </div>
    <div class="slide">
        <img src="~/photo/2.jpg" />
    </div>
    <div class="slide">
        <img src="~/photo/3.jpg" />
    </div>
</div>
<div class="text-center">
    <h2>Наши продукты</h2>

  

    <div class="product-page">
        <div class="product-list">
                    @foreach (var item in Model)
            {
            <div class="product-item">
                <div class="product-image">
                    <img src="product-image.jpg" alt="Product Image">
                </div>
                    <div class="product-name">@item.Name</div>
                    <div class="product-price">@item.Price</div>
                <div class="product-quantity">
                        <button href="@Url.Action("AddOneProductInBasket", "Home", item.Id)" class="plus-btn">+</button>
                        <button href="@Url.Action("DeleteOneProductFromBasket", "Home", item.Id)" class="minus-btn">-</button>
                </div>
            </div>
            }
        </div>
    </div>
    <!--   <div class="container">
        <h1>Products</h1>
        <div class="row">
    @foreach (var item in Model)
    {
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Description</p>
                                <form asp-action="AddProductInBasket" asp-controller="Home" name="f1">
                                    <input name="Id" type="hidden" value=@item.Id />
                                    <input name="Quantity" type="number" value="0" min="1" max="@item.Quantity" />
                                    <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                                </form>
                                <h4><a href="@Url.Action("AddOne", "Home", item.Id)">+</a></h4>
                                <h4><a href="@Url.Action("DeleteOne", "Home", item.Id)">-</a></h4>
                                <h6><a href="@Url.Action("Delete", "Basket", item.Id)">Удалить из корзины</a></h6>
                            </div>
                        </div>
                    </div>
    }
        </div>
    </div>-->
 
    <a href="@Url.Action("Init", "Basket")">Перейти в корзину</a>
</div>
