@{
    ViewData["Title"] = "Наши продукты";
}
@model IEnumerable<KindBee.Models.ProductOnMain>

<head>
    <link rel="stylesheet" href="~/css/groceryShowcase.css" asp-append-version="true" />
</head>
<div class="slider">
    <div class="slide">
        <img src="~/photo/2.jpg" />
    </div>
    <div class="slide">
        <img src="~/photo/2.jpg" />
    </div>
    <div class="slide">
        <img src="~/photo/3.jpg" />
    </div>
</div>
<div class="text-center">
    <h2>Наши продукты</h2>

  

    <div class="product-page">
        <div class="product-list">
                    @foreach (var item in Model)
            {
            <div class="product-item">
                <div class="product-image">
                    <img src="product-image.jpg" alt="Product Image">
                </div>
                    <div class="product-name">@item.Product.Name</div>
                    @if (@item.Product.Price==null)
                    {
                        <div class="product-price">цена пока неизвестна</div>
                    }
                    else
                    {
                        <div class="product-price">@item.Product.Price</div>
                    }
                    <label>остаток</label>
                    <div class="product-name">@item.Product.Quantity</div>
                    @if (@item.QuantityInBasket != 0)
                    {
                        <label>добавлено в корзину</label>
                        <div class="product-name">@item.QuantityInBasket</div>
                    }
                <div class="product-quantity">
                        <form asp-action="AddOneProductInBasket" asp-controller="Home">
                            <input name="Id" type="hidden" value=@item.Product.Id />
                        <button type="submit" class="plus-btn">+</button>
                       </form>
                        <form asp-action="DeleteOneProductFromBasket" asp-controller="Home">
                            <input name="Id" type="hidden" value=@item.Product.Id />
                            <button type="submit" class="minus-btn">-</button>
                        </form>
                </div>
            </div>
            }
        </div>
    </div>
 
    <a href="@Url.Action("Init", "Basket")">Перейти в корзину</a>
</div>
