@{
    ViewData["Title"] = "Добро пожаловать!";
}
@model IEnumerable<KindBee.Models.ProductOnMain>

<head>
    <link type="text/css" rel="stylesheet" href="~/css/groceryShowcase.css" asp-append-version="true" />
    <script src="/js/carusel.js"></script>
    <link type="text/css" href="~/css/carusel.css" rel="stylesheet" type="text/css" runat="server" asp-append-version="true" />

    <script type="text/jscript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/jscript">
        function AddOneProductInBasket(Id, el) {

            var product = el.parentNode;
            var count = product.children[0].value;
            count++;
            if (product.children[0].max < count) {
                return;
            }
            $.post("/Basket/AddOneProductInBasket", { id: Id })
                .done(function (data) {
                    //анализируем ответ от сервера. Если больше продуктов не осталось, то деактивируем кнопку добавления и выводим сообщение
                    //если что то не так - выводим сообщение об ошибке

                  
                    product.children[0].value = count;
                });
        };

        function DeleteOneProductFromBasket(Id, el) {
             var product = el.parentNode;
                    var count = product.children[0].value;
                    if (product.children[0].value==0)
                    {
                        return;
                    }
            $.post("/Basket/DeleteOneProductFromBasket", { id: Id })
                .done(function (data) {
                    /*location.reload();*/
                    count--;
                    product.children[0].value = count;
                });
        };
    </script>
</head>



<div class="text-center">

    <div id="carousel">
        <figure id="spinner">
            <div class="imgFrame"><img src="~/photo/1.jpg" alt></div>
            <div class="imgFrame"><img src="~/photo/2.jpg" alt></div>
            <div class="imgFrame"><img src="~/photo/3.jpg" alt></div>
            <div class="imgFrame"><img src="~/photo/4.jpg" alt></div>
            <div class="imgFrame"><img src="~/photo/9.jpg" alt></div>
            <div class="imgFrame"><img src="~/photo/6.jpg" alt></div>
            <div class="imgFrame"><img src="~/photo/7.jpg" alt></div>
            <div class="imgFrame"><img src="~/photo/8.jpg" alt></div>
        </figure>
    </div>
    <h3>
        <div class="mainGreetings">
            <p align="left">
                Приглашаем вас в наш магазин меда!
                У нас вы найдете вкуснейшие продукты, приготовленные из натуральных ингредиентов.
                Наши продукты пасеки производятся вручную и проходят строгий контроль качества.
            </p>
        </div>
        <div class="mainGreetings">
            <p>
                На протяжении многих лет наша семья занималась пчеловодством, и для нас как не для кого другого важно, чтобы качество нашего продукта находилось на самом высоком уровне. Наши продукты пасеки производятся вручную и проходят строгий контроль качества.
                Мы предлагаем большой выбор, включая пергу, разные виды меда, включая мед в сотах.
            </p>
        </div>
        <div>
            <p>Оцените вкус и пользу меда вместе с нами!</p>
        </div>

    </h3>
    <div class="product-page">
        <div class="product-list">
            @foreach (var item in Model)
            {
                <div class="product-item">
                    @if (item.Product.Image != null)
                    {
                        <div class="product-image">
                            @Html.Raw("<img style='width:100%; height:100%;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(@item.Product.Image) + "\" />")
                        </div>
                    }

                    <div class="product-name">@item.Product.Name</div>
                    @if (@item.Product.Description != null)
                    {
                        <div class="product-description">@item.Product.Description</div>
                    }
                    @if (@item.Product.Price == null)
                    {
                        <div class="product-price">цена пока неизвестна</div>
                    }
                    else
                    {
                        <div class="product-price">@item.Product.Price</div>
                    }
                    @if (@item.Product.Quantity < 5)
                    {
                        <label>Осталось немного</label>
                    }
                  
                    <div class="product-quantity">
                        <input type="number" class="QuantityInBasket" value=@item.QuantityInBasket min="0" max=@item.Product.Quantity>
                        <button onclick="AddOneProductInBasket(@item.Product.Id, this)" type="submit" class="plus-btn">+</button>
                        <button onclick="DeleteOneProductFromBasket(@item.Product.Id, this)" type="submit" class="minus-btn">-</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <a href="@Url.Action("Init", "Basket")">Перейти в корзину</a>
</div>
