@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<KindBee.DB.DBModels.Product>

<head>
    <link rel="stylesheet" href="~/css/groceryShowcase.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <h2>Наши продукты</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Наименование продукта</th>
                <th>Цена</th>
                <th>Остаток</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td><a href="@Url.Action("DeleteProductFromBasket", "Home", item.Id)">Удалить из корзины</a></td>
                    <td>
                        <form asp-action="AddProductInBasket" asp-controller="Home">
                            <input type="hidden" asp-for="@item.Id" />
                            <input type="number" asp-for="@item.Quantity" min="1" max="@item.Quantity" />
                                <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                            </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="container">
        <h1>Products</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <form asp-action="AddProductInBasket" asp-controller="Home">
                                <input type="hidden" asp-for="@item.Id" />
                                <input type="number" asp-for="@item.Quantity" min="1" max="10" />
                                <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                            </form>
                            <h6><a href="@Url.Action("DeleteProductFromBasket", "Home", item.Id)">Удалить из корзины</a></h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <a href="@Url.Action("Index", "Basket")">Перейти в корзину</a>
</div>
